<div class="container p-4 back-img">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <h4>{{user.username}}</h4>
                    <a href="/links" class="btn btn-start m-4" style="color:#fff">
                        Ver noticias agregadas   
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>