body {
  background: #102d65;
  font-family: "Oswald", sans-serif;
}

.index {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #fff;
}

.nav-link {
  color: #000000 !important;
} 

.masthead {
  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url("/img/back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}

ul {
  list-style:none;
}

more-padding {
  padding: 0 50px;
  margin: 20px;
}



#logo-nav {
  height: 60px;
}

.cardcolor {
  background-color: #17283b;
}

.btn-erase {
  background-color: #cd9a03;
  border-color: #cd9a03;
}

.btn-start {
  background-color: #cd9a03;
}

.list-group li {
  border: 15px solid #17283b;
  border-radius: 10px;
  margin: 10px;
}



.cardcolor-margin{
  margin: 15px 0 15px 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 25px;
  margin-left: 25px;
}

