<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">

            <div class="card bg-dark">
                <div class="card-body">
                    <h1 class="text-light mb-3 h4">Añadir noticia</h1>
                    <form action="/links/add" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="date" id="current_date" name="date" class="form-control bg-dark text-light">
                        </div>
                        <div class="form-group">
                            <select name="type" class="form-control bg-dark text-light">
                                <option select >¿Tipo de medio?</option>
                                <option value="1">Medios radiales</option>
                                <option value="2">Medios escritos</option>
                                <option value="3">TV</option>
                                <option value="4">Redes sociales</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="title" class="form-control bg-dark text-light" placeholder="Título" required>
                        </div>
                        <div class="form-group">
                            <select name="impact" class="form-control bg-dark text-light">
                                <option select>¿Impacto?</option>
                                <option value="1">Informativo</option>
                                <option value="2">Positivo</option>
                                <option value="3">Negativo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="scope" class="form-control bg-dark text-light">
                                <option select>¿Alcance?</option>
                                <option value="1">Local</option>
                                <option value="2">Regional</option>
                                <option value="3">Nacional</option>
                            </select>  
                        </div>
                        <div class="form-group">
                            <input type="url" name="url" class="form-control bg-dark text-light" placeholder="URL" required>
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class="form-control bg-dark text-light"
                                placeholder="Descripción" required></textarea>
                        </div>
                        <div class="form-group" id="news_file">
                            <label for="file_news">Archivo</label>
                            <input type="file" class="form-control-file" id="file_news" name="file_news">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>